{% extends 'base.html.twig' %}



{% block body %}
    <h2>Affichage des impressions 3D</h2>

    <div>{{form(Day)}}</div>


    {% if Sub == 0 %}
        <h1>{{forma}}</h1>
    <table>
    <tr>
        <th>Matricule</th>
        <th>Nom du print</th>
        <th>Matière</th>
        <th>Temps d'impression</th>
        <th>Prix</th>
        <th>Heure de lancement</th>
        <th>Fichier</th>
    </tr>

        {% for infos in Data %}
        <tr>
        <td>{{ infos.Utilisateur }}</td>
        <td>{{ infos.Nom }}</td>
            <td>{{ infos.Matiere }}</td>
            <td>{{ infos.Temps }}</td>
            <td>{{ infos.Prix }}</td>
            <td>{{ infos.Heure }}</td>
            <td><a href="{{ path('ddl',{ddl:infos.PrintFilename }) }}"> {{ infos.PrintFilename }}</a></td>
        </tr>

        {% endfor %}

        </table>

    {% endif %}
    {% if Sub ==3 %}
        <h1>{{forma}}</h1>
        <h1>Il n'y a rien de programmé ce jour là</h1>
    {% endif %}
    <div>
        <h2>Formulaire d'ajout d'une impression3D.</h2>
        {{ form(impression3dForm) }}
    </div>

{% endblock %}
