<!DOCTYPE html>
<html>
<link rel = "stylesheet"
      type = "text/css"
      href = {{asset("Style.css")}} />
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
<section>
    <aside>
        <meta charset="UTF-8">
        <title>{% block title %}Fablab ECAM{% endblock %}</title>


        <img src="{{asset('Images/logo.jpg')}}" width="70%" height="30%">
        <a id="titre" href="{{path('home')}}" >Fablab ECAM</a>
        <p id="description">Lieu pour permettre aux étudiants de réaliser leurs projets.</p>
            <li><a class="link" href="{{path('home')}}">ACCEUIL</a></li>
            <li><a class="link" href="{{path('activites')}}">ACTIVITES</a></li>
            <li><a class="link" href="{{path('calendrier')}}">CALENDRIER</a></li>
            <li><a id="link" href="{{path('galerie')}}">GALERIE</a></li>
            <li><a id="link" href="{{path('equipe')}}">EQUIPE</a></li>
            <li><a id="link" href="{{path('contact')}}">CONTACT</a></li>
            <li><a id="link" href="{{path('formations')}}">FORMATION</a></li>
            <li><a id="link" href="{{path('impression3d')}}">IMPRESSION 3D</a></li>


    </aside>
    {% block img %}<img id='imgtop' src="{{asset('Images/activites.jpg')}}">{% endblock %}
    <article>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}<p>yoloooo</p>{% endblock %}
        {% block javascripts %}{% endblock %}


    </article>
</section>
<footer>
   Copyright Fablab Ecam
</footer>
</html>
