<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8">
        <title>{% block title %}Fablab ECAM{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

            <img src="{{asset('Images/logo.jpg')}}" >
        <h1>Fablab ECAM</h1>
        <h2>Lieu pour permettre au étudiant de réaliser leurs projets.</h2>
            <li><a href="{{path('home')}}">Acceuil</a></li>
            <li><a href="{{path('activites')}}">Activités</a></li>
            <li><a href="{{path('calendrier')}}">Calendrier</a></li>
            <li><a href="{{path('galerie')}}">Galerie de photos</a></li>
            <li><a href="{{path('equipe')}}">Equipe</a></li>
            <li><a href="{{path('contact')}}">Contact</a></li>
            <li><a href="{{path('formations')}}">Formation</a></li>
            <li><a href="{{path('impression3d')}}">Impression 3D</a></li>
        </div>

    </header>
    <body>
    <section>
        {% block body %}<p>yoloooo</p>{% endblock %}
        {% block javascripts %}{% endblock %}
    </section>
    </body>
</html>
